*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
	background-color: aliceblue;
    background-image:
		linear-gradient(to right, rgb(0 0 0 / 0.05) 1px, transparent 1px),
		linear-gradient(to bottom, rgb(0 0 0 / 0.05) 1px, transparent 1px);
    background-size: 50px 50px;
}

ul, ol {
	margin-block-start: 1em;
	margin-block-end: 1em;
	padding-inline-start: 2em;
}

li {
	margin-block-end: 0.2em;
}

/* The Options Box */
#options[open] {
	padding: 1em;
	background-color: white;
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	max-width: 80ch;
}

#options[open]::backdrop {
	backdrop-filter: blur(0.5em);
}

#options header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

#options header > * {
	margin: 0;
}

#options section {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: flex-start;
	overflow-y: scroll;
}

#options section :is(p, ul) {
	margin-top: 0;
}

.option {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.option :is(input[type="checkbox"], input[type="radio"]) {
	width: 2em;
	height: 2em;
}

:disabled + label {
	text-decoration: line-through;
}

#btnOptions {
	position: fixed;
	right: 1em;
	top: 1em;
}

.hidden {
	display: none !important;
}